.tile {
    position: relative;
    height: 100%;
    /* width: calc(25% - 20px); */
    /* padding: 6px; */
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: 0.2s all;
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .tile img {
    width: 50%;
    height: 50%;
    border-radius: 8px;
    -webkit-transition: 0.2s all;
    /* -webkit-filter: brightness(70%); */
  }
  .tile img:hover {
    -webkit-filter: brightness(50%);
    transform: scale(1.1);
  }
  .author{
    display:flex;
    flex-direction: row;
    width:20%;
    height: 20%;
    
  }
